body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #2c3e50;
  color: #ecf0f1;
}

.about-container {
  padding: 40px 20px;
}

.about-hero {
  background-color: #34495e;
  padding: 60px 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.about-hero h1 {
  font-size: 3rem;
  margin: 0;
  color: #e74c3c;
}

.about-hero p {
  font-size: 1.5rem;
  margin: 20px 0 0;
  color: #bdc3c7;
}

.about-content {
  max-width: 1000px;
  margin: 40px auto 0;
  background-color: #34495e;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.about-section {
  margin-bottom: 40px;
}

.about-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #e74c3c;
}

.about-section p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #ecf0f1;
}

.about-section ul {
  list-style-type: none;
  padding: 0;
}

.about-section ul li {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #ecf0f1;
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.about-section ul li::before {
  content: "•";
  color: #e74c3c;
  font-size: 1.5em;
  padding-right: 0.5em;
}
