<div class="about-container">
  <div class="about-hero">
      <h1>About Us</h1>
      <p>Your trusted partner for all your home service needs</p>
  </div>

  <div class="about-content">
      <section class="about-section">
          <h2>Our Vision</h2>
          <p>At CasaCare, we envision a world where every home is a sanctuary of comfort and convenience. We strive to make this vision a reality by delivering high-quality services tailored to your needs.</p>
      </section>

      <section class="about-section">
          <h2>Our Services</h2>
          <p>From cleaning to repairs, maintenance to renovations, CasaCare offers a comprehensive range of home services. Our skilled professionals are committed to delivering excellence in every task.</p>
      </section>

      <section class="about-section">
          <h2>Why Choose Us?</h2>
          <ul>
              <li>Experienced and trained professionals</li>
              <li>Reliable and efficient service</li>
              <li>Flexible scheduling options</li>
              <li>Competitive pricing</li>
              <li>Customer satisfaction guarantee</li>
          </ul>
      </section>
  </div>
</div>
