<section class="beauty-parlour">
    <div class="content">
      <h1>Home Services</h1>
      <button class="insert-button" (click)="insertService()">Insert New Service</button>
  
      <div class="sub-heading"><h5><strong>Home Cleaning</strong></h5></div>
      <div class="services-grid" *ngIf="homecleaning.length">
        <div class="service-card" *ngFor="let homecleanings of homecleaning">
          <img [src]="homecleanings.image" [alt]="homecleanings.name">
          <p>{{homecleanings.name}}</p>
          <p style="font-size: 0.9em">{{homecleanings.description}}</p>
          <div class="button-group">
            <button class="update-button" (click)="updateService(hairstyle)">Update</button>
            <button class="delete-button" (click)="deleteService(hairstyle.id)">Delete</button>
          </div>
        </div> 
      </div>
  
      <div class="sub-heading"><h5><strong>Repair</strong></h5></div>
      <div class="services-grid" *ngIf="repair.length">
        <div class="service-card" *ngFor="let repairs of repair">
          <img [src]="repairs.image" [alt]="repairs.name">
          <p>{{repairs.name}}</p>
          <p style="font-size: 0.9em">{{repairs.description}}</p>
          <div class="button-group">
            <button class="update-button" (click)="updateService(facial)">Update</button>
            <button class="delete-button" (click)="deleteService(facial.id)">Delete</button>
          </div>
        </div>
      </div>
  
      <div class="sub-heading"><h5><strong>Home Installation</strong></h5></div>
      <div class="services-grid" *ngIf="homeinstallation.length">
        <div class="service-card" *ngFor="let homeinstallations of homeinstallation">
          <img [src]="homeinstallations.image" [alt]="homeinstallations.name">
          <p>{{homeinstallations.name}}</p>
          <p style="font-size: 0.9em">{{homeinstallations.description}}</p>
          <div class="button-group">
            <button class="update-button" (click)="updateService(massage)">Update</button>
            <button class="delete-button" (click)="deleteService(massage.id)">Delete</button>
          </div>
        </div>  
      </div>
    </div>
  </section>
  