<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OTP Verification</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <style>
    body {
      background: linear-gradient(135deg, #03080e, #0a1832);
      color: #fff;
      font-family: Arial, sans-serif;
      height: 100vh;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .otp-container {
      width: 80%;
      max-width: 400px;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
      text-align: center;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .otp-inputs {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    .otp-input {
      width: 40px;
      height: 40px;
      margin: 5px;
      font-size: 24px;
      text-align: center;
      border: none;
      border-radius: 5px;
      outline: none;
      background-color: rgba(255, 255, 255, 0.1);
      color: #fff;
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }

    .otp-input:focus {
      border-color: #007bff;
      box-shadow: 0 0 5px #007bff;
    }

    .otp-submit {
      background-color: #007bff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .otp-submit:hover {
      background-color: #0056b3;
    }
  </style>
</head>

<body>
  <div class="otp-container">
    <h2>Enter OTP</h2>
    <div class="otp-inputs">
      <input type="text" class="otp-input" id="otp0" maxlength="1" (input)="onOtpInput($event, 0)" [(ngModel)]="otp[0]" autofocus>
      <input type="text" class="otp-input" id="otp1" maxlength="1" (input)="onOtpInput($event, 1)" [(ngModel)]="otp[1]">
      <input type="text" class="otp-input" id="otp2" maxlength="1" (input)="onOtpInput($event, 2)" [(ngModel)]="otp[2]">
      <input type="text" class="otp-input" id="otp3" maxlength="1" (input)="onOtpInput($event, 3)" [(ngModel)]="otp[3]">
      <input type="text" class="otp-input" id="otp4" maxlength="1" (input)="onOtpInput($event, 4)" [(ngModel)]="otp[4]">
      <input type="text" class="otp-input" id="otp5" maxlength="1" (input)="onOtpInput($event, 5)" [(ngModel)]="otp[5]">
    </div>
    <button class="otp-submit" (click)="onOtpSubmit()">Submit</button>
    <div *ngIf="errorMessage" style="color: red; margin-top: 10px;">
      {{ errorMessage }}
    </div>
  </div>
</body>

</html>
