<section class="beauty-parlour">
    <div class="content">
      <h1>Beauty Parlour Services</h1>
      <button class="insert-button" (click)="insertService()">Insert New Service</button>
  
      <div class="sub-heading"><h5><strong>Hair Styles</strong></h5></div>
      <div class="services-grid" *ngIf="hairstyles.length">
        <div class="service-card" *ngFor="let hairstyle of hairstyles">
          <img [src]="hairstyle.image" [alt]="hairstyle.name">
          <p>{{hairstyle.name}}</p>
          <p style="font-size: 0.9em">{{hairstyle.description}}</p>
          <div class="button-group">
            <button class="update-button" (click)="updateService(hairstyle)">Update</button>
            <button class="delete-button" (click)="deleteService(hairstyle.id)">Delete</button>
          </div>
        </div> 
      </div>
  
      <div class="sub-heading"><h5><strong>Facials</strong></h5></div>
      <div class="services-grid" *ngIf="facials.length">
        <div class="service-card" *ngFor="let facial of facials">
          <img [src]="facial.image" [alt]="facial.name">
          <p>{{facial.name}}</p>
          <p style="font-size: 0.9em">{{facial.description}}</p>
          <div class="button-group">
            <button class="update-button" (click)="updateService(facial)">Update</button>
            <button class="delete-button" (click)="deleteService(facial.id)">Delete</button>
          </div>
        </div>
      </div>
  
      <div class="sub-heading"><h5><strong>Massage</strong></h5></div>
      <div class="services-grid" *ngIf="massages.length">
        <div class="service-card" *ngFor="let massage of massages">
          <img [src]="massage.image" [alt]="massage.name">
          <p>{{massage.name}}</p>
          <p style="font-size: 0.9em">{{massage.description}}</p>
          <div class="button-group">
            <button class="update-button" (click)="updateService(massage)">Update</button>
            <button class="delete-button" (click)="deleteService(massage.id)">Delete</button>
          </div>
        </div>  
      </div>
    </div>
  </section>
  