.beauty-parlour {
    background-color: #f0f0f0; 
    color: #333;
    font-family: 'Roboto', sans-serif;
    padding: 40px 20px;
  }
  
  .content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #2c3e50;
  }
  
  .sub-heading h5 {
    font-size: 1.8em;
    margin: 40px 0 20px;
    color: #e74c3c;
  }
  
  .services-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .service-card {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    width: 200px;
    text-align: center;
    padding: 15px;
  }
  
  .service-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }
  
  .service-card p {
    font-size: 1.1em;
    color: #34495e;
    margin: 0;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .update-button, .delete-button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 0 0 15px 15px;
    cursor: pointer;
  }
  
  .update-button {
    background-color: #3498db;
    color: #fff;
  }
  
  .update-button:hover {
    background-color: #2980b9;
  }
  
  .delete-button {
    background-color: #e74c3c;
    color: #fff;
  }
  
  .delete-button:hover {
    background-color: #c0392b;
  }
  
  .service-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  }
  