<section class="home">
  <div class="home-content">
    <h1>Welcome to Casa Care</h1>
    <h6>Quality Home Services, Delivered with Care</h6>
    <button class="get-started-btn" (click)="onGetStarted()" [disabled]="showDetails">Get Started</button>
    <div *ngIf="showDetails" class="details-container">
      <div class="container">
        <div class="left">
          <p class="intro-text"><strong>Casa Care</strong>, a pioneer in the on-demand home services industry, revolutionizes the way people access essential services with unparalleled convenience and reliability. With a diverse array of services spanning from home cleaning to beauty treatments, Casa Care offers a seamless blend of professionalism and personalization, tailored to meet the unique needs of every customer.</p>
        </div>

        <div class="right">
          <div class="image-grid">
            <div class="image-container">
              <img src="assets/cleaning1.jpg" alt="Home Cleaning Service" class="service-image" (click)="navigateToHomeServices()">
              <p class="image-title">Home Cleaning Service</p>
            </div>
            <div class="image-container">
              <img src="assets/bp.webp" alt="Beauty Parlour Service" class="service-image" (click)="navigateToBeautyParlour()">
              <p class="image-title">Beauty Parlour Service</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f8fa;
    color: #333;
    font-family: 'Roboto', sans-serif;
  }

  .home-content {
    text-align: center;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }

  h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #2c3e50;
  }

  h6 {
    font-size: 1.2em;
    margin-bottom: 1.5em;
    color: #7f8c8d;
  }

  .get-started-btn {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #e74c3c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .get-started-btn:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
  }

  .get-started-btn:hover:not(:disabled) {
    background-color: #c0392b;
  }

  .details-container {
    margin-top: 2em;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .left {
    padding: 20px;
  }

  .intro-text {
    font-size: 1.2em;
    color: #333;
    line-height: 1.8;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left {
    padding: 20px;
  }

  .right {
    margin-top: 20px;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  }

  .service-image {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }

  .service-image:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }

  .image-title {
    margin-top: 10px;
    font-size: 1em;
    color: #555;
  }
</style>
