<div>
    <h2>Insert Service</h2>
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
        <div>
            <label for="name">Name:</label>
            <input id="name" ngModel name="name" required>
        </div>
        <div>
            <label for="description">Description:</label>
            <input id="description" ngModel name="description" required>
        </div>
        <div>
            <label for="image">Image URL:</label>
            <input id="image" ngModel name="image" required>
        </div>
        <div>
            <label for="serviceType">Service Type:</label>
            <input id="serviceType" ngModel name="serviceType" required>
        </div>
        <button type="submit">Insert</button>
    </form>
</div>
