<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">CasaCare</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/aboutus">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactus">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">
          <fa-icon [icon]="faShoppingCart"></fa-icon>
          Cart
        </a>
      </li>
      <li class="nav-item">
        <button mat-button [matMenuTriggerFor]="menu">Update Service</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/home-services">Home Services</button>
          <button mat-menu-item routerLink="/update-beauty-services">Beauty Services</button>
        </mat-menu>
      </li>
    </ul>
  </div>
  <a *ngIf="!isLoggedIn" class="btn btn-primary" routerLink="/login">Login</a>
  <a *ngIf="isLoggedIn" class="btn btn-primary" routerLink="/logout" (click)="logout()">Logout</a>
</nav>
