.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

.navbar-nav .nav-link i {
  margin-right: 0.5rem;
}

.navbar-nav .ms-auto {
  margin-left: auto;
}

@media (max-width: 992px) {
  .navbar-nav .nav-link {
    padding: 0.25rem 0.5rem;
  }
}

@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1rem;
  }
}