<section class="beauty-parlour">
    <div class="content">
      <h1>Beauty Parlour Services</h1>
  
      <div class="sub-heading"><h5><strong>Home Cleaning</strong></h5></div>
      <div class="services-grid" *ngIf="homecleaning.length">
        <div class="service-card" *ngFor="let homecleanings of homecleaning">
          <img [src]="homecleanings.image" [alt]="homecleanings.name">
          <p>{{homecleanings.name}}</p>
          <p style="font-size: 0.9em">{{homecleanings.description}}</p>
          <button class="cart-button">Add to Cart</button>
        </div>
      </div>
  
      <div class="sub-heading"><h5><strong>Repair</strong></h5></div>
      <div class="services-grid" *ngIf="repair.length">
        <div class="service-card" *ngFor="let repairs of repair">
          <img [src]="repairs.image" [alt]="repairs.name">
          <p>{{repairs.name}}</p>
          <p style="font-size: 0.9em">{{repairs.description}}</p>
          <button class="cart-button">Add to Cart</button>
        </div>  
      </div>

      <div class="sub-heading"><h5><strong>Home Installation</strong></h5></div>
      <div class="services-grid" *ngIf="homeinstallation.length">
        <div class="service-card" *ngFor="let homeinstallations of homeinstallation">
          <img [src]="homeinstallations.image" [alt]="homeinstallations.name">
          <p>{{homeinstallations.name}}</p>
          <p style="font-size: 0.9em">{{homeinstallations.description}}</p>
          <button class="cart-button">Add to Cart</button>
        </div> 
      </div>

    </div>
  </section>
  