<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <style>
        body {
            background-image: url('assets/service1.jpg');
            background-size: cover;
            background-position: center;
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: Arial, sans-serif;
        }

        .login-container {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
            max-width: 400px;
            width: 100%;
        }

        .login-container h1 {
            text-align: center;
            margin-bottom: 30px;
        }

        .login-container .input-group {
            margin-bottom: 20px;
        }

        .login-container .input-group-addon {
            background-color: #f0f0f0;
            border: none;
        }

        .login-container input[type="email"] {
            border-radius: 0;
        }

        .login-container button {
            width: 100%;
        }

        .error-message {
            color: red;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="login-container">
        <h1>Login</h1>
        <form #loginForm="ngForm" (ngSubmit)="sendOtp()" novalidate>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="email" class="form-control" name="emailId" [(ngModel)]="customer.emailId"
                    #emailId="ngModel" required email minlength="3" placeholder="Email">
            </div>
            <div *ngIf="emailId.errors?.['required'] && emailId.touched" class="error-message">
                Please enter an Email-Id
            </div>
            <div *ngIf="emailId.errors?.['email'] && emailId.touched" class="error-message">
                Please enter a valid email address
            </div>
            <div *ngIf="emailId.errors?.['minlength'] && emailId.touched" class="error-message">
                Please enter at least 3 characters for Email-Id
            </div>
            
            <div *ngIf="error" class="error-message">{{ error }}</div> <!-- Display error message -->
            
            <br>
            <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Send Otp</button>
        </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngx-toastr/14.0.0/toastr.min.js"></script>
</body>

</html>
