<div *ngIf="service">
    <h2>Update Service</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Name:</label>
        <input id="name" [(ngModel)]="service.name" name="name" required>
      </div>
      <div>
        <label for="description">Description:</label>
        <input id="description" [(ngModel)]="service.description" name="description" required>
      </div>
      <div>
        <label for="image">Image URL:</label>
        <input id="image" [(ngModel)]="service.image" name="image" required>
      </div>
      <div>
        <label for="serviceType">Service Type:</label>
        <input id="serviceType" [(ngModel)]="service.serviceType" name="serviceType" required>
      </div>
      <button type="submit">Update</button>
    </form>
  </div>
  