<section class="beauty-parlour">
  <div class="content">
    <h1>Beauty Parlour Services</h1>

    <div class="sub-heading"><h5><strong>Hair Styles</strong></h5></div>
    <div class="services-grid" *ngIf="hairstyles.length">
      <div class="service-card" *ngFor="let hairstyle of hairstyles">
        <img [src]="hairstyle.image" [alt]="hairstyle.name">
        <p>{{hairstyle.name}}</p>
        <p style="font-size: 0.9em">{{hairstyle.description}}</p>
        <button class="cart-button">Add to Cart</button>
      </div> 
    </div>

    <div class="sub-heading"><h5><strong>Facials</strong></h5></div>
    <div class="services-grid" *ngIf="facials.length">
      <div class="service-card" *ngFor="let facial of facials">
        <img [src]="facial.image" [alt]="facial.name">
        <p>{{facial.name}}</p>
        <p style="font-size: 0.9em">{{facial.description}}</p>
        <button class="cart-button">Add to Cart</button>
      </div>
    </div>

    <div class="sub-heading"><h5><strong>Massage</strong></h5></div>
    <div class="services-grid" *ngIf="massages.length">
      <div class="service-card" *ngFor="let massage of massages">
        <img [src]="massage.image" [alt]="massage.name">
        <p>{{massage.name}}</p>
        <p style="font-size: 0.9em">{{massage.description}}</p>
        <button class="cart-button">Add to Cart</button>
      </div>  
    </div>
  </div>
</section>
