<footer>
    <div class="footer-container">
      <div class="footer-content">
        <h3>Company</h3>
        <p>About Us</p>
        <p>Terms & Conditions</p>
        <p>Careers</p>
      </div>
    
      <div class="footer-content">
        <h3>Contact Us</h3>
        <p>Email: support&#64;homeservices.com</p>
        <p>Phone: +1234567890</p>
        <p>Address: 123 Main Street, Hometown, Country</p>
      </div>
    
      <div class="footer-content social">
        <h3>Follow Us</h3>
        <a href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">
          <img src="assets/linkedin-icon.png" alt="LinkedIn">
        </a>
        <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
          <img src="assets/instagram-icon.png" alt="Instagram">
        </a>
        <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
          <img src="assets/twitter-icon.png" alt="Twitter">
        </a>
        <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
          <img src="assets/facebook-icon.png" alt="Facebook">
        </a>
      </div>
      <div class="footer-content">
        <div class="display">
          <img src="assets/display.jpg" alt="Display 1" class="new-line">
          <img src="assets/display1.jpg" alt="Display 2" class="new-line">
        </div>
      </div>
    </div>
  </footer>