h3 {
    font-size: 24px;
    color: #1a1a1a;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
  }
  
  footer {
    background-color: #f2f2f2;
    color: #333;
    padding: 40px 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }
  
  .footer-content {
    flex: 1;
    margin: 20px;
  }
  
  .footer-content h3 {
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .footer-content p {
    margin: 8px 0;
    line-height: 1.5;
  }
  
  .social {
    display: flex;
    align-items: center;
  }
  
  .social a {
    margin-right: 15px;
  }
  
  .social img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .social img:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }
  
  .display {
    margin-top: 20px;
    text-align: center;
  }
  
  .display img {
    width: 150px;
    height: 75px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    margin: 10px;
  }
  
  .display img.new-line {
    display: block;
    margin: 10px auto;
  }
  
  .display img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  @media screen and (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-content {
      text-align: center;
      margin: 10px 0;
    }
  
    .social {
      margin-top: 20px;
    }
  }