.contact-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  
  .contact-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .contact-container .form-group {
    margin-bottom: 15px;
  }
  
  .contact-container .btn {
    width: 100%;
  }